body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #272829;
    position: relative;
}

.hero {
    width: 100%;
    height: 100vh;
    background: url('/images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    /* z-index: -2; */
}

p {
    line-height: 20px;
}

#header {
    position: absolute;
}

#header {
    background: #000000;
    width: 300px;
    /* padding: 15px; */
    position: fixed;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
}

.pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 8px solid #272829;
    margin: 8px 75px;
}

.l-e i {
    padding: 0 20px 0 0;
    font-size: 24px;
    width: 1.7em;
}

.social-links i {
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    padding: 7px;
    width: 1.7em;
}

.nav-bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.nav-bar li {
    list-style: none;
}

.nt {
    text-align: center;
    font-size: 24px;

}

.nav-menu {
    padding-top: 40px;
    justify-content: center;
}

li.l-e:hover {
    color: aqua;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #fff;
    transition: 0.3s;
}

.nav-menu i:hover {
    color: #149ddd;
    transition: 0.3s;
}

.nav-menu,
.social-links * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.c-flex {
    display: flex;
    flex-direction: column;
}

.profile h1 #name {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.nav-menu a {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    text-decoration: none;
    transition: 0.3s;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;

}

.social-links {

    color: #fff;
    text-decoration: none;
    display: flex;
    color: #fff;
    justify-content: center;

}

.social-links a:hover {
    background: #149ddd;
}

.social-links a {
    padding: 8px 4px;
    width: 36px;
    height: 36px;
    line-height: 1;
    border-radius: 50%;
    margin: 4px;
    text-align: center;
    background-color: #212431;
}

#ppic {
    width: 300px;
    margin: 10px;
}

.personal-info {
    margin: 50px 0 25px 0;
    display: flex;
    width: 100%;
}

.personal-info ul li {
    list-style: none;
    display: flex;
    margin-bottom: 10px;

}

#card span {
    font-size: 48px;
    margin: 0 0 0 60px;
    display: block;
    color: #050d18;
    line-height: 40px;
}

#card p {
    margin: 10px 0 0 60px;

}

.personal-info ul li i {
    color: #149ddd;
}

.personal-info ul li strong {
    margin-right: 9px;
}

.personal-info ul {
    margin: 0;
    padding: 0;
}

.main {
    margin-left: 300px;
    overflow: hidden;
}

#about-pic {
    width: 290px;
    height: 290px;
    float: left;

}

#about-info * {
    margin-top: 0;
    margin-left: 15px;
}

.row {
    display: flex;

}

#card-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#card i {
    font-size: 44px;
    float: left;
    display: block;
}

.about {
    background-color: white;
    margin: 0;
    flex-wrap: wrap;
}

.Facts {
    background-color: #fff;
}

.contact-flex {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.resume {
    background-color: #fff;
    padding: 0 10px 60px 10px;
}

.Portfolio,
.services,
.testimonials,
.contact,
.Skills,
.resume,
.about,
.Facts {
    background-color: #fff;
    padding: 20px;


}

#title-para {
    font-size: 32px;
    margin-top: 20px;
}

.val {
    float: right;
    font-size: 12px;
    font-weight: 700;
}

.skill {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
}

.skill-name {
    margin: 0 0 10px 0;
    /* height: 60px; */
}

.skill-name span {
    font-size: 12px;
    font-weight: 700;
}

.progress-bar {
    height: 10px;
    width: 100%;
    background-color: #dce8f8;
    /* color: #149ddd; */
}

.resume-item h5 {
    width: 100px;
    padding: 7px;
    text-align: center;
    background-color: #b7b7ba;
}

#about-info h3 {
    font-size: 36px;
    color: #1f5297;
    margin-bottom: 0;
}

/* p{
    font-size: 16px;
} */
.left {
    width: 100%;
    height: auto;
    padding: 5px;
}

.s-item {
    width: 300px;
    height: 180px;
    padding: 0 12px;
}

.s-item p,
h4,
.address h4 p {
    margin-left: 80px;
}

.address p {
    margin-left: 80px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}

.s-item p {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 24px;
}

.s-item h4 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

.icon i {
    font-size: 24px;
    color: #fff;
}

.icon {
    background-color: rgb(39, 144, 237);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
}

.contact-icon {
    background: #dff3fc;
    width: 44px;
    height: 44px;
}

.contact-icon i {

    font-size: 20px;
    color: #149ddd;
}

.service-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title-holder {
    margin-left: 150px;
}

#topic-heading::after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: #1f5297;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}

#topic-heading {
    font-size: 32px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-weight: bold;
}

.title {
    height: 100vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: -1;

}

#title-name {
    font-size: 3rem;
    margin: 0 0 15px 0;
    line-height: 1.625rem;
    font-family: "Raleway", sans-serif;
}

#title-para {
    font-size: 26px;
}

.right {
    padding: 5px;
    width: 100%;
    /* position: relative; */
}

.resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
}

.resume-item h3 {
    margin: 0;
}

.active,
.dot:hover {
    background-color: #717171;
}

.prev:hover,
.next:hover {
    color: white;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 5;
}

.info {
    display: flex;
    transition: all 0.8s ease-in;
}

.slides {
    position: relative;
}

.links {
    display: flex;
    justify-content: center;
}

.portfolio-content {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;

}

.contact-form {
    width: 400px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 7px 0 #000;
    border-radius: 5px;

}

.findme {
    margin-right: 30px;
    box-shadow: 0 0 7px 0 #000;
    padding: 20px;
    border-radius: 5px;
}

.contact-form h2 {
    text-align: center;
}

form {
    background: white;
    padding: 0 30px;
    margin-top: 40px;
}

label {

    margin: 10px 0 0 0;
}

input {
    display: block;
    margin-bottom: 10px;
    width: 150x;
    padding: 0 5px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid gray;
}

.slide-selector {
    display: flex;
    justify-content: center;
}

.testimonials-image {
    display: flex;
    justify-content: center;
}

.saying {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin-left: 40px;
    width: 90%;
    text-align: center;
    font-style: italic;
}

.testimonials-image img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
}

/* .slide {
    width: 100%;
    margin: 0 20px;
} */

.testimonials-name,
.position,
.saying {
    text-align: center;
}

/* .slide-selector label:hover {background: #149ddd; }
#slide1:checked ~ .slide1 {
    left: 0;
}
#slide2:checked ~ .slide2 {
    display: none;
}
#slide3:checked ~ .slide3 {
    left: -200%;
}
#slide4:checked ~ .slide4 {
    margin-left: -300%;
} */

footer{
    background-color: #8787a2;
}

footer p{
color: rgb(255, 255, 255);
text-align: center;
/* position: fixed; */
    
}
.slide {
    display: none;
    align-items: center;
    text-align: center;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid #149ddd;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 400px;
}

.submit {
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    border-radius: 25px;
    background-color: rgb(31, 175, 31);
    color: #FFFFFF;
    width: 80px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
}

input[type="submit"]:hover {
    box-shadow: 0 0 2px black;

}

.btn {
    display: none;
}

.links li {
    list-style: none;
    padding: 10px;
}

.resume-item::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    left: -9px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 2px solid #1f5297;
    top: 0;
}

button {
    text-decoration: none;
    background-color: #149ddd;
    box-sizing: border-box;
    border: none;
}

@media (max-width: 480px) and (min-width:320px) {

    .row,
    .info,
    .contact-flex,
    .title {
        flex-direction: column;
        /* align-items: center; */
    }

    .title-holder {
        margin-left: 0;
    }

    .title {
        max-height: 100vh;
    }

    #title-name {
        font-size: 12px;
    }

    .info {
        align-items: center;
    }

    .contact-form {
        width: auto;
        padding: 0;
        margin: 0;
    }

    .contact-form textarea[cols=20] {
        column-span: 20;
    }

    .findme {
        margin-bottom: 25px;
        width: auto;
    }

    .findme iframe {
        height: 200px;
    }

    .ul-side {
        margin: 0;
        padding: 0;
    }

    #about-pic {
        margin: 25px;
    }

    #about-info .personal-info,
    h3,
    p {
        margin: 20px auto auto 0;
    }

    #about-info h3 {
        font-size: 20px;
    }

    #card-layout {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-items {
        margin-top: 20px;
    }

    #card {
        margin: 25px;
    }

    p {
        margin-left: 0;
        font-size: 14px;
    }

    .personal-info ul li {
        margin-left: 0;
    }

    #about-pic {
        width: 250px;
        height: 250px;
    }

    #header {
        display: none;
        transition: all 1s ease-in-out;
    }
}

@media (max-width: 768px) and (min-width:481px) {
    #header {
        display: none;
        transition: all 1s ease-in-out;
    }

    .btn {
        width: 50px;
        height: 50px;
        background-color: #149ddd;
        border-radius: 50%;
        z-index: 3;
        position: fixed;
        right: 15px;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
    }

    .info {
        flex-direction: column;
        align-items: center;
    }

    .service-items {
        justify-content: center;
    }

}

@media (max-width: 1024px) and (min-width:769px) {
    #header {
        display: none;
        transition: all 1s ease-in-out;
    }

    .btn {
        width: 50px;
        height: 50px;
        background-color: #149ddd;
        border-radius: 50%;
        z-index: 3;
        position: fixed;
        right: 15px;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
    }

    .info {
        flex-direction: column;
        align-items: center;
    }

    .main {
        margin-left: 0px;
        width: 100%;
    }

    .title-holder {
        margin-left: 0;
    }

    #about-info h3 {
        text-align: center;
    }
}

@media (max-width: 800px) {
    #header {
        display: none;
        transition: all 1s ease-in-out;
    }

    .title-holder {
        margin-left: 0;
    }

    .service-items {
        justify-content: center;
    }

    .personal-info {
        flex-direction: column;
    }

    #title-para {
        font-size: 26px;
        margin-top: 20px;
    }

    #title-name {
        font-size: 32px;
    }

    .Portfolio,
    .services,
    .testimonials,
    .contact,
    .Skills,
    .resume,
    .about,
    .Facts {
        background-color: #fff;
        padding: 10px;
    }



    .main {
        margin-left: 0px;
        width: 100%;
    }

    .btn {
        width: 50px;
        height: 50px;
        background-color: #149ddd;
        border-radius: 50%;
        z-index: 3;
        position: fixed;
        right: 15px;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
    }

    .btn i {
        font-size: 24px;
        color: #fff;
    }

    #title-name {
        font-size: 2rem;
        margin: 0 0 15px 0;
        line-height: 0.8125rem;
        font-family: "Raleway", sans-serif;
    }
}

@media (min-width: 1200px) {

    .Portfolio,
    .services,
    .testimonials,
    .contact,
    .Skills,
    .resume,
    .about,
    .Facts {
        background-color: #fff;
    }
}
