body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: #272829;
}

#hero {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -2;
}

#header {
    position: absolute;
}

#header {
    background: #040b14;
    width: 300px;
    padding: 15px;
    position: fixed;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
}

.pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 8px solid #272829;
    margin: 8px 75px;
}

.l-e i {
    padding: 0 20px 0 0;
    font-size: 24px;
    width: 1.7em;
}

.social-links i {
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    padding: 7px;
    width: 1.7em;
}

.nav-bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.nav-bar li {
    list-style: none;
}

.nt {
    text-align: center;
    font-size: 24px;

}

.nav-menu {
    padding-top: 40px;
    justify-content: center;
}

li.l-e:hover {
    color: aqua;
    transition: 0.3s;
}

a span:hover {
    color: #fff;
    transition: 0.3s;
}

.nav-menu,
.social-links * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.c-flex {
    display: flex;
    flex-direction: column;
}

.profile h1 #name {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.nav-menu a {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    text-decoration: none;
    transition: 0.3s;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;

}

.social-links {

    color: #fff;
    text-decoration: none;
    display: flex;
    color: #fff;
    justify-content: center;

}

.social-links a:hover {
    background: #149ddd;
}

.social-links a {
    padding: 8px 4px;
    width: 36px;
    height: 36px;
    line-height: 1;
    border-radius: 50%;
    margin: 4px;
    text-align: center;
    background-color: #212431;
}

#ppic {
    width: 300px;
    margin: 10px;
}

.main {
    margin-left: 330px;
    overflow: hidden;
}

#about-pic {
    width: 240px;
    height: 240px;
    float: left;

}

.row {
    display: flex;

}

#card-layout {
    display: flex;
    justify-content: space-around;
}

#card {
    width: 100px;
    height: 150px;
    background-color: aqua;
}

.about {
    background-color: white;
    padding: 60px;
    margin: 0;
    flex-wrap: wrap;
}

.Facts {
    background-color: #fff;
    padding: 60px;
}

.contact-flex {
    display: flex;
}

.resume {
    background-color: #fff;
    padding: 60px;
}

.Portfolio,
.services,
.testimonials,
.contact {
    background-color: #fff;
    padding: 60px;
}

.val {
    float: right;
}

.progress-bar {
    height: 10px;
    width: 100%;
    background-color: #4c6774;
    color: #149ddd;
}

.left {
    width: 100%;
    padding: 5px;
}

.s-item {
    width: 300px;
    height: 180px;
    padding: 0 12px;
}

.s-item p,
h4,
.address h4 p {
    margin-left: 80px;
}

.address p {
    margin-left: 80px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}

.s-item p {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 24px;
}

.s-item h4 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

.icon i {
    font-size: 24px;
    color: #fff;
}

.icon {
    background-color: rgb(39, 144, 237);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
}

.contact-icon {
    background: #dff3fc;
    width: 44px;
    height: 44px;
}

.contact-icon i {

    font-size: 20px;
    color: #149ddd;
}

.service-items {
    display: flex;
    flex-wrap: wrap;
}

.title-holder {
    margin-left: 150px;
}

#topic-heading::after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: #1f5297;
    display: block;
}

.title {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    z-index: -1;

}

#title-name {
    font-size: 64px;
    margin: 0 0 15px 0;
    line-height: 56px;
    font-family: "Raleway", sans-serif;
}

#title-para {
    font-size: 26px;
}

.right {
    padding: 5px;
    width: 100%;
}

.resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
}

.info {
    display: flex;
}

.links {
    display: flex;
    justify-content: center;
}

.portfolio-content {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;

}

.links li {
    list-style: none;
    padding: 10px;
}

.Skills {
    background-color: #f5f8fd;
    padding: 60px;
}

@media (max-width: 768px) {
    #header {
        display: none;
    }

    * {
        flex-direction: column;
    }

    .main {
        margin-left: 0px;
        width: 100%;
    }
}